@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');


nav {
    display: flex;
    justify-content: space-around;
}
nav a {
    text-align: center;
    color: burlywood;
    text-decoration: none;
    padding: 35px;
}
body {
    background-color: #778DA9;
    font-family: "Playfair+Display" , georgia, "Times New Roman", Times, serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}
header {
    display: grid;
    grid-template-columns: 150px auto;
    background-color: rgba(13, 27, 42, 0.9);
    z-index: 1;
    margin-bottom: 50px;
}
nav a:hover {
    background-color: grey;
    color: #1B263B;
    border-radius: 50px;
}
.join {
    background-color:burlywood;
    color: black;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.join:hover {
    background-color: grey;
    color: #1B263B;
}
footer {
    background-color: #0D1B2A;
    color: white;
    padding: 25px 50px;
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.home-title {
    color: burlywood;
    font-family: "Open Sans", Tahoma, Arial, Helvetica, sans-serif;
    font-size: 2.5em;
    margin-top: auto;
    margin-bottom: .5px;
    text-align: center;
}
h4 {
    color: burlywood;
    font-size: 1.1em;
    text-align: center;
    margin-top: 10px;
}
footer a {
    color: white;
    text-decoration: none;
}
footer a:hover {
    color: burlywood;
}
.icon {
    width: 80px;
    padding-top: 10px;
}
.logo {
    width: 100px;
}
#hero-img {
    width: 100%;
    border: 4px solid black;
    border-radius: 80px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
footer p {
    font-size: 1.2em;
}
footer p a:hover {
    text-decoration: underline;
}
#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
footer .social img {
    padding-top: 10px;
}
#hero {
    display: grid;
    grid-template-columns: 1fr 1fr 3fr;
    grid-template-rows: 2.5fr 3fr;
    margin-top: -100px;
}
#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}
#home-msg {
    grid-column: 3/3;
    grid-row: 2/2;
    margin-top: 180px;
}
.home-grid {
    display: grid;
    /* padding: 1rem; */
    /* grid-template-columns: 1000px 1fr; */
    gap: 1rem;
    align-items: center;
    max-width: 1000px;
    margin: 0 auto;
    font: 500 100%/1.5 system-ui;
    color: white;
}
.container img {
    max-width: 100%;
    height: auto;
    border: 4px solid black;
    border-radius: 50px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
    margin-top: 30px;
  }
.container {
    position: relative;
}
.join {
    position: absolute;
    /* bottom: 10px; */
    left: 50%;
    transform: translateX(-50%);
    font-size: 2.25em;
    padding: 22.5px 45px;
    border: 1.5px solid black;
    border-radius: 15px;
}
h2 {
    text-align: center;
    margin-top: 50px;
}
.left-align {
  text-align: left;
  margin-top: 10px;
  margin-bottom: 10px;
}
/* ########################################################################## */
/* Contact Us box */
/* ########################################################################## */
#feedback {
  background-color: antiquewhite;
  color: black;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: .5em;
  /* make this element invisible until we are ready for it */
  display: none;      
}
.moveDown {
  margin-top: 3em;
}
form {
    /* Center the form on the page */
    margin: 0 auto;
    width: 400px;
    /* Form outline */
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 1em;
  }
  
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  form li + li {
    margin-top: 1em;
  }
  
  label {
    /* Uniform size & alignment */
    display: inline-block;
    width: 90px;
    text-align: center;
  }
  
  input,
  textarea {
    /* To make sure that all text fields have the same font settings
       By default, textareas have a monospace font */
    font: 1em sans-serif;
  
    /* Uniform text field size */
    width: 300px;
    box-sizing: border-box;
  
    /* Match form field borders */
    border: 1px solid #999;
  }
  
  input:focus,
  textarea:focus {
    /* Additional highlight for focused elements */
    border-color: #000;
  }
  
  textarea {
    /* Align multiline text fields with their labels */
    vertical-align: top;
  
    /* Provide space to type some text */
    height: 5em;
  }
  
  .button {
    /* Align buttons with the text fields */
    padding-left: 90px; /* same size as the label elements */
  }
  
  button {
    /* This extra margin represent roughly the same space as the space
       between the labels and their text fields */
    margin-left: 0.5em;
  }
  main {
    text-align: center;
  }
  main h1 {
    margin-top: 0; /* Remove default margin */
  }
/* ############################################################################### */
/* Slide Show  */
/* ############################################################################### */
  * {box-sizing:border-box}

  /* Slideshow container */
  .slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 3s;
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }